---
layout: archive
title: "Manim"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<hr style="border: 0; height: 1px; background-color: #ccc;">
<p style="font-size:1.1em; color:white;">
  Here is a showcase of some of my Manim (a Python-powered animation framework) projects and animations demonstrating various physics and math concepts.
  <br/> <br/> <b>Instagram Page:</b> <i><a href="https://www.instagram.com/liberative.musings/" target="_blank" style="color:white;">@liberative.musings</a></i>
</p>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

