---
layout: archive
title: "Manim"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<p style="font-size:1.1em; color:white;">
  Here is a showcase of some of my Manim (a Python-powered animation framework) projects and animations demonstrating various physics and math concepts.
  <br/> Instagram Page: <a href="https://www.instagram.com/liberative.musings/" target="_blank" style="color:white;">@liberative.musings</a>
</p>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

